body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-grey-dark;
}

.heading {
  color: $color-white;

  text-shadow: 1px 1px 1px rgba($color-black, 0.9);

  &__main {
    font-size: 6rem;
    letter-spacing: 1rem;
    font-weight: 500;
  }

  &__sub {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }

  &__intro {
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem 1rem 2rem 1rem;
  }
}

.section-title {
  color: $color-black;
  text-align: center;

  &--main {
    font-size: 5rem;
  }

  &--sub {
    font-size: 3rem;
  }
}

.text-small {
  font-size: 1.8rem;
}
.text-medium {
  font-size: 2.5rem;
}
.text-large {
  font-size: 4rem;
}
