// COLORS
$color-body-bg: grey;
$color-primary: #50d7fc; // text-color-blue
$color-primary-dark: #216ab2;
$color-primary-light: #50b4fc;

$color-grey: #c7d3e2; // text-color-grey
$color-grey-light: #f7f7f7;
$color-grey-dark: #24272b;

$color-white: #fff;
$color-black: #24272b; // text-color-black

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 5rem;
