.section-about {
  height: 100vh;
  background-color: $color-white;
  padding: 5rem 1rem;
}

.section-projects {
  min-height: 100vh;
  background-color: $color-grey-light;
  padding: 5rem 1rem;
}

.section-experience {
  height: 100vh;
  padding: 5rem 1rem;
  background-size: cover;
  background-position: 40%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../images/bgpic-microscope.jpg);
}
