.about {
  padding: 5rem 1rem;

  &__text {
    width: 70%;
    margin: auto;
    font-size: 2rem;
  }

  &__research {
    text-align: center;

    width: 50%;
    margin: 5rem auto;

    & > ul {
      list-style-type: none;
    }
  }
}
