.header {
  height: 100vh;
  width: 100%;

  padding: 5rem;

  background-size: cover;
  background-position: 40%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey, 0.8),
      rgba($color-black, 0.8)
    ),
    url(../images/bgpic-microscope.jpg);

  &__box {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;

    &--main {
      position: relative;
      padding: 1rem;
    }

    &--sub {
      position: relative;
      padding: 1rem;
    }
  }

  &__image {
    position: relative;
    float: left;
    width: 40%;

    border-radius: 50%;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.6);
    box-sizing: border-box;

    @include respond(phone) {
      width: 25rem;
    }
  }

  &__title {
    position: relative;
    float: left;
    width: 60%;
    padding: 1rem 1rem 1rem 3rem;

    @include respond(phone) {
      width: 50rem;
    }
  }

  &__intro-box {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 2rem;
  }

  &__scroll-icon-box {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__scroll-icon {
    width: 5rem;

    animation: bounce 2s infinite;
  }
}
